@font-face {
    font-family: "GothamBold";
    src: url("./fonts/Gotham-Bold.otf");
}
@font-face {
    font-family: "GothamBook";
    src: url("./fonts/Gotham-Book.otf");
}

body {
    overflow: hidden;
    background-image: url('./images/axis_background_v2_small.jpg');
    background-size: cover;
    max-height: 100%;
}

h1 {
    font-size: 3.3vmin;
    font-family: "GothamBold";
    margin: 5px;
    padding: 0;
}

p {
    font-size: 3.3vmin;
    font-family: "GothamBook";
    margin: 0;
    padding: 0;
    padding-bottom: 5px;

}

img {
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    height: 30vmin;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

.message-box {
    padding: 3vmin;
    width: 60%;
    min-height:65vmin;
    background-color: white;
    
    color: #4d4d4d;
}
